/* Disable Textarea Resize */
textarea {
	width: 100%;
	resize: none;
}

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	height: 100%;
	background: url('../images/grid.png');
}

/* Make the default font-size larger so that it's easier on the eyes  */
p {
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5em;
	line-height: 1em;
	font-family: 'Roboto', Helvetica, arial, sans-serif;
}
	h1, h2 {
		text-align: center;
	}
	h3 {
		margin-top: 1em;
	}

footer {
	background-color: #f5f5f5;
	padding-top: 1em;
}

.muted {
	font-size: 14px;
	color: #737373;
}

code {
	font-size: 80%;
}

/* CSS Overrides */
.navbar .brand {
	display: block;
	float: left;
	padding: 7px 10px 7px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #737373;
	text-shadow: 0 1px 0 #ffffff;
}

.navbar .loading-brand {
	display: block;
	float: left;
	padding: 12px 20px 12px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #737373;
	text-shadow: 0 1px 0 #ffffff;
}

.navbar-search {
	position: relative;
	float: left;
	margin-top: 7px;
	margin-bottom: 7px;
}

.navbar-search .search-query {
	padding: 4px 14px;
	margin-bottom: 0;
	font-family: 'Roboto', Helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 1;
}

/* Landing Page CSS */
#splash-image {
	text-align: center;
	color: #fff;
	text-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
	/* Background Image from ESA/Hubble
	https://www.spacetelescope.org/copyright/
	"ESA/Hubble images, videos and web texts are released under the Creative Commons Attribution 3.0 Unported license and may on a non-exclusive basis be reproduced without fee provided they are clearly and visibly credited."
	*/
	background-image: url('../images/galaxy-1600-1200.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
	.primary-description {
		margin-top: 150px;
		font-weight: bold;
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
		font-size: 4em;
		line-height: 115%;
	}
		.primary-description span {
			display: block;
			font-weight: normal;
			font-style: italic;
			font-size: 0.75em;
		}
	.secondary-description {
			margin-top: 50px;
			font-size: 2em;
			margin-bottom: 150px;
	}

.action-bar {
	text-align: center;
	height: 100px;
	color: #fff;
	background-color: #216c2a;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
	padding: 20px;
}

.navbar.navbar-fixed-top {
	margin-bottom: 0;
}
/* Interactive Demo */
.moneytree {
	position: relative;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}
	.prompt-arrow {
		position: absolute;
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
	}
	#drag-arrow {
		left: 215px;
		top: 225px;
		-webkit-animation: attentionAttraction 1.5s infinite;
		-o-animation: attentionAttraction 1.5s infinite;
		animation: attentionAttraction 1.5s infinite;
	}

	@-webkit-keyframes attentionAttraction {
		0% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		50% {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
	@-moz-keyframes attentionAttraction {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(1);
		}
	}
	@-o-keyframes attentionAttraction {
		0% {
			-o-transform: scale(1);
			transform: scale(1);
		}
		50% {
			-o-transform: scale(1.2);
			transform: scale(1.2);
		}
		100% {
			-o-transform: scale(1);
			transform: scale(1);
		}
	}
	@keyframes attentionAttraction {
		0% {
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}
		50% {
			-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
		}
		100% {
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}
	}

	#result-arrow {
		left: 445px;
		top: 235px;
		display: none;
	}
		.prompt-arrow:after {
			position: absolute;
			content: "";
			top: 25px;
			left: -50px;
			width: 130px;
			height: 20px;
			background-image: url('../images/arrow-right.png');
		}
	.moneytree .steps {
		display: inline-block;
		position: relative;
		width: 100px;
		padding: 20px;
	}
		.whitespace {
			/* Whitespace used to force the divs to justify/distribute */
			width: 100%;
			display: inline-block;
			font-size: 0;
			line-height: 0;
		}
		.steps h3, .steps p {
			text-align: center;
		}
	.interactive-target {
		width: 100px;
		height: 100px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border: 2px dashed rgb(100, 100, 100);
		background-repeat: no-repeat;
		background-position: center;
		-webkit-transition: background-color 0.1s linear;
		-moz-transition: background-color 0.1s linear;
		-ms-transition: background-color 0.1s linear;
		-o-transition: background-color 0.1s linear;
		transition: background-color 0.1s linear;
	}
		.dragover-hover {
			background-color: rgba(200, 200, 200, 0.8);
		}

	#person-wallet {
		background-image: url('../images/animation-sprites.png');
		background-position: -100px 0;
	}
		#person-wallet:hover {
			cursor: pointer;
			background-image: url('../images/animation-sprites.png');
			background-position: -100px -100px;
		}
	#tree {
		background-image: url('../images/animation-sprites.png');
		background-position: 0 0;
	}
		#tree.grown  {
			background-image: url('../images/animation-sprites.png');
			background-position: 0 -100px;
		}
	#charity {
		background-image: url('../images/animation-sprites.png');
			background-position: -200px -100px;
	}
	#benjamins {
		background-image: url('../images/benjamins.png');
		border-radius: 0;
		position: absolute;
		top: 108px;
		left: 22px;
		border: none;
		z-index: 2;
	}
		#benjamins:hover {
			cursor: pointer;
			background-color: rgba(255, 255, 255, 0);
		}
		#benjamins.stationary {
			background-image: none;
		}
		#benjamins.stationary:hover + #person-wallet {
			background-image: url('../images/animation-sprites.png');
			background-position: -100px -100px;
		}

.fixed-column {
	width: 687px;
	margin: 0 auto;
	padding: 40px;
	background-color: #fbfbfb;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.main-content {	
	margin-bottom: 50px;
}
.main-content:last-child {
	/* Fix bottom margin to account for the footer */
	margin-bottom: 100px;
}
.fluid-video-container{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	padding-top: 25px;
	height: 0;
}
.fluid-video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Endowment Cards */
.card.endowment {
	position: relative;
	padding-top: 0;
	overflow: hidden;
	background-color: #fff;
	min-height: 300px;
}

.card.endowment .info {
	padding: 4px 8px 10px;
}

.card.endowment .info .title {
	text-align: center;
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 1;
	color: #262626;
	vertical-align: middle;
}

.card.endowment .info .desc {
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}

.card.endowment .bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	line-height: 29px;
	text-align: center;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

.form-control-static
{
	padding-top: 5px;
}

/* Add Endowment Cards */
.card.add-endowment {
	position: relative;
	padding-top: 0;
	overflow: hidden;
	background-color: transparent;
}

.card.add-endowment .info {
	padding: 4px 8px 10px;
}

.card.add-endowment .info .title {
	text-align: center;
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 1;
	color: #262626;
	vertical-align: middle;
}

.card.add-endowment .info .desc {
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}


.twitter-typeahead .tt-query {
	margin-bottom: 0;
}
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
	color: #fff;
}
.tt-hint {
	background-color: transparent !important;
}

.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
}

.tt-suggestion {
	display: block;
	padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}

.tt-suggestion p {
	margin: 0;
}

/* Responsiveness */
@media (min-width: 1200px) {
	.card.endowment {
		width: 300px;
	}
	.card.endowment .info .title {
		font-size: 24px;
	}
}
@media (min-width: 980px) and (max-width: 1199px) {
	.card.endowment {
		width: 240px;
	}
	.card.endowment .info .title {
		font-size: 20px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.card.endowment {
		width: 180px;
	}
	.card.endowment .info .title {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	.animation-container {
		display: none;
		visibility: hidden;
	}
}
