/* Disable Textarea Resize */
textarea {
    resize: none;
}

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  height: 100%;
  background: url(/images/grid.png);
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Remove/Shrink Modal Padding */
.modal {
  padding: 10px;
}

.modal-body {
  padding: 0;
  margin: 0;
  max-height: 600px;
}

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

/* Make Wish Text Larger */
#open-wish-modal {
  font-size: 16px;
}

code {
  font-size: 80%;
}

/* CSS Overrides */
.navbar .brand {
  display: block;
  float: left;
  padding: 7px 10px 7px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #737373;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .loading-brand {
  display: block;
  float: left;
  padding: 12px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #737373;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar-search {
  position: relative;
  float: left;
  margin-top: 7px;
  margin-bottom: 7px;
}

.navbar-search .search-query {
  padding: 4px 14px;
  margin-bottom: 0;
  font-family: Roboto, arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
}

/* Landing Page Stuff */
.header {
  text-align: center;
}
  .header .primary-description {
    margin-top: 30px;
    font-weight: bold;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 4em;
    line-height: 115%;
  }
    .header .primary-description span {
      display: block;
      font-weight: normal;
      font-style: italic;
      font-size: 0.75em;
    }
  .header .secondary-description {
      margin-top: 30px;
      font-size: 2em;
  }

/* Interactive Demo */
.moneytree {
  /* Making the demo a fixed size solves animation headaches */
  width: 1000px;
  height: 300px;
  position: relative;
}
  .moneytree div {
    position: absolute;
    display: inline-block;
    border: 2px solid black; /*temporarily here so you can see the divs*/
  }
  #person {
    top: 100px;
    left: 0;
    width: 120px;
    height: 220px;
    background-image: url('../images/person.png');
  }
  #person-wallet {
    top: 100px;
    left: 150px;
    width: 100px;
    height: 100px;
    background-image: url('../images/person-wallet.png');
  }
  #benjamins {
    top: 100px;
    left: 150px;
    width: 100px;
    height: 100px;
    z-index: 2;
  }
    #benjamins img {
      position: absolute;
    }
  #plant-pot {
    top: 100px;
    left: 550px;
    width: 100px;
    height: 100px;
    background-image: url('../images/plant-pot.png');
  }
  #charity {
    top: 100px;
    left: 1066px;
    width: 100px;
    height: 100px;
    background-image: url('../images/charity.png');
  }
  #beanstalk {
    top: 100px;
    left: 550px;
    width: 100px;
    height: 100px;
    z-index: -1;
    background-image: url('../images/beanstalk.png');
  }
    #beanstalk.grown {
      top: 50px;
      z-index: 2;
      -webkit-transition: top 1s;
      -moz-transition: top 1s;
      -ms-transition: top 1s;
      -o-transition: top 1s;
      transition: top 1s;
    }

/* Endowment Cards */
.card.endowment {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  background-color: #fff;
  min-height: 300px;
}

.card.endowment .info {
  padding: 4px 8px 10px;
}

.card.endowment .info .title {
  text-align: center;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.endowment .info .desc {
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.endowment .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-control-static
{
  padding-top: 5px;
}

/* Add Endowment Cards */
.card.add-endowment {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  background-color: transparent;
}

.card.add-endowment .info {
  padding: 4px 8px 10px;
}

.card.add-endowment .info .title {
  text-align: center;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.add-endowment .info .desc {
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}


.twitter-typeahead .tt-query {
  margin-bottom: 0;
}
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
  color: #fff;
}
.tt-hint {
  background-color: transparent !important;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

/* Responsiveness */
@media (min-width: 1200px) {
  .card.endowment {
    width: 300px;
  }
  .card.endowment .info .title {
    font-size: 24px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .card.endowment {
    width: 240px;
  }
  .card.endowment .info .title {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .card.endowment {
    width: 180px;
  }
  .card.endowment .info .title {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}