/* Disable Textarea Resize */
textarea {
	width: 100%;
	resize: none;
}

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway);

html,
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	height: 100%;
	background-color: #eee;
}

/* Make the default font-size larger so that it's easier on the eyes  */
p {
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5em;
	line-height: 1em;
	font-family: 'PT Sans', Helvetica, arial, sans-serif;
}
	h1, h2 {
		text-align: center;
	}
	h3 {
		margin-top: 1em;
	}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}
footer {
	background-color: #f5f5f5;
	padding-top: 1em;
	height: 50px;
}

.text-muted {
	font-size: 14px;
}

code {
	font-size: 80%;
}
.nobreak {
	white-space: nowrap;
}
/* Helper class for vertical centering */
.chart-center {
}
	.chart-center h3 {
		padding-top: 132px;
	}
	.chart-center a {
		margin-bottom: 132px;
	}
	.chart-center i {
		padding-top: 132px;
		padding-bottom: 132px;
	}

.flair-lines {
	font-style: italic;
	color: #555;
	overflow: hidden;
	text-align: center;
}
.flair-lines:before,
.flair-lines:after {
	background-color: #555;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
.flair-lines:before {
	right: 0.5em;
	margin-left: -50%;
}
.flair-lines:after {
	left: 0.5em;
	margin-right: -50%;
}

nav.navbar {
	margin-bottom: 0;
}
	#loading {
		display: inline;
	}
	.navbar .loading-brand {
		display: block;
		float: left;
		padding: 12px 20px 12px;
		margin-left: -20px;
		font-size: 20px;
		font-weight: 200;
		color: #737373;
		text-shadow: 0 1px 0 #ffffff;
	}
	.navbar-brand {
		padding: 9px 10px;
	}
	.navbar-text {
		font-size: 12px;
	}
.dropdown-toggle {
	color: #777;
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
	line-height: 20px;
	position: relative;
	padding: 10px 15px;
}
	.dropdown-toggle:hover {
		cursor: pointer;
		color: #333;
		background-color: transparent;
	}
	.dropdown:hover .dropdown-menu, .dropdown-menu:hover {
		display: block;
	}

.nav-pills {
	margin-bottom: 1em;
}

.fixed-column {
	width: 768px;
	margin: 0 auto;
	padding: 40px;
	background-color: #fbfbfb;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.fixed-column-large {
	width: 100%;
	padding-bottom: 0;
}
	.fixed-column-large .col-md-6,
	.fixed-column-large .col-sm-4,
	.fixed-column-large .col-xs-12 {
		padding-bottom: 40px;
	}
.main-content {	
	margin-bottom: 50px;
}
	.first-content {
		margin-top: 2em;
	}
	.last-content {
		margin-bottom: 100px;
	}

/* Sign Up and Sign In Pages */
.registration {
	margin-bottom: 2em;
}
#signup-nav a, #signin-nav a {
	padding: 7px 0 7px 3px;
}

/* Endowment Cards */
.card {
	margin-top: 2em;
	padding: 40px;
	vertical-align: top;
	background-color: #fbfbfb;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.card-fixed {
	width: 384px; /*384 = 768/2*/
	display: inline-block;
	margin-left: 1em;
}
	.card-heading {
		margin-top: 0;
	}
	.card-header-only {
		padding: 20px;
		background-color: inherit;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
		.card-header-only h2, .card-header-only h3 {
			margin-top: 0;
			margin-bottom: 0;
			text-align: center;
		}
		h2.featured-endowment {
			margin-bottom: 1em;
		}
.card .info {
	padding: 4px 8px 10px;
}
.card .info .title {
	text-align: center;
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 1;
	color: #262626;
	vertical-align: middle;
}
.card .info .desc {
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}
	.card .bottom {
		width: 100%;
		padding: 10px 20px;
		line-height: 29px;
		text-align: center;
	}

/*
 * Creditly Gray Theme (gray-theme)
 */
.creditly-wrapper .card_type {
	float: right;
	font-style: italic;
	font-weight: normal !important;
}
.creditly-wrapper h3 {
	background: #424242;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	padding: 14px;
	margin: 0;
	text-transform: uppercase;
	height: 20px;
}
.creditly-wrapper .credit-card-wrapper {
	padding: 30px 0;
}
.creditly-wrapper {
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.creditly-wrapper .form-control:focus {
	border-color: #888;
	box-shadow: none;
	-webkit-box-shadow: none;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
}
.creditly-wrapper .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
}
.creditly-wrapper .control-label {
	font-weight: 600;
	margin-bottom: 4px;
}
.creditly-wrapper .col-sm-8,
.creditly-wrapper .col-sm-4 {
	padding-left: 15px;
	padding-right: 15px;
}
/* Creditly bootstrap stuff */
.creditly-wrapper input.form-control.has-error {
	outline: none;
	border-color: #ff7076;
	border-top-color: #ff5c61;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0),0 0 4px 0 rgba(255,0,0,0.5);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0),0 0 4px 0 rgba(255,0,0,0.5);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0),0 0 4px 0 rgba(255,0,0,0.5);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0),0 0 4px 0 rgba(255,0,0,0.5);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0),0 0 4px 0 rgba(255,0,0,0.5);
}
.creditly-wrapper .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.creditly-wrapper .form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
.creditly-wrapper label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}
.creditly-wrapper input:focus::-webkit-input-placeholder {
		color: #ccc;
}
.creditly-wrapper input:focus:-moz-placeholder {
		color: #ccc;
}
.creditly-wrapper input:focus::-moz-placeholder {
		color: #ccc;
}
.creditly-wrapper input:focus:-ms-input-placeholder {
		color: #ccc;
}
.creditly-wrapper .col-sm-8 {
	width: 66.6666666666666%;
}
.creditly-wrapper .col-sm-4 {
	width: 33.3333333333333%;
}
.creditly-wrapper .form-group {
	width: 100%;
	display: table;
}
.creditly-wrapper .first-row {
	margin-bottom: 20px;
}
.creditly-wrapper .card-type {
	margin-top: 1.7em;
}

.twitter-typeahead .tt-query {
	margin-bottom: 0;
}
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
	color: #fff;
}
.tt-hint {
	background-color: transparent !important;
}
.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

/* Dashboard CSS */
.pie-legend {
	padding: 0;
	list-style: none;
}
	.pie-legend li {
		line-height: 150%;
	}
	.pie-legend li span {
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: 0.5em;
		vertical-align: top;
		margin-top: 2px;
	}

/* Landing Page CSS */
#splash-image {
	position: relative;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
	/* Background Image from ESA/Hubble
	https://www.spacetelescope.org/copyright/
	"ESA/Hubble images, videos and web texts are released under the Creative Commons Attribution 3.0 Unported license and may on a non-exclusive basis be reproduced without fee provided they are clearly and visibly credited."
	*/
	background-image: url('../images/galaxy-1600-1200.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
	#splash-image > div {
		min-height: 100%;
	}
	.primary-description {
		margin-top: 150px;
		font-weight: bold;
		font-family: 'PT Sans', Helvetica, Arial, sans-serif;
		font-size: 4em;
		line-height: 115%;
	}
		.primary-description span {
			display: block;
			font-weight: normal;
			font-style: italic;
			font-size: 0.75em;
		}
	.secondary-description {
			margin-top: 50px;
			font-size: 2em;
	}
	.landing-lights {
		display: block;
		position: absolute;
		left: 50%;
		width: 100px;
		margin-left: -50px;
		bottom: 50px;
		text-align: center;
		/* Disable text-shadow for performance reasons during animation */
		text-shadow: none;
	}
		.landing-lights:hover {
			text-decoration: none;
		}
		.landing-lights span {
			display: block;
			opacity: 0.4;
			color: #fff;
			font-size: 3em;
			-webkit-transform: scale(2, 1);
			-ms-transform: scale(2, 1);
			-o-transform: scale(2, 1);
			transform: scale(2, 1);
		}
		.arrow1 {
			-webkit-animation: landingLights 1.5s 0s infinite;
			-o-animation: landingLights 1.5s 0s infinite;
			animation: landingLights 1.5s 0s infinite;
		}
		.arrow2 {
			-webkit-animation: landingLights 1.5s 0.5s infinite;
			-o-animation: landingLights 1.5s 0.5s infinite;
			animation: landingLights 1.5s 0.5s infinite;
		}
		.arrow3 {
			-webkit-animation: landingLights 1.5s 1s infinite;
			-o-animation: landingLights 1.5s 1s infinite;
			animation: landingLights 1.5s 1s infinite;
		}


/* Interactive Demo */
.moneytree {
	position: relative;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}
	.animation-container {
		vertical-align: top;
	}
	.prompt-arrow {
		position: absolute;
		font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	}
	#drag-arrow {
		left: 215px;
		top: 210px;
		z-index: 2;
		font-size: 2em;
		-webkit-animation: attentionAttraction 1.2s infinite;
		-o-animation: attentionAttraction 1.2s infinite;
		animation: attentionAttraction 1.2s infinite;
	}
	#result-arrow {
		left: 495px;
		top: 220px;
		display: none;
	}
		.prompt-arrow:after {
			position: absolute;
			content: "";
			top: 40px;
			left: -56px;
			width: 175px;
			height: 26px;
			background-image: url('../images/arrow-right.png');
			background-image: url('../images/arrow-right.svg');
		}
	.steps {
		display: inline-block;
		position: relative;
		width: 120px;
		vertical-align: top;
	}
		.whitespace {
			/* Whitespace used to force the divs to justify/distribute */
			width: 100%;
			display: inline-block;
			font-size: 0;
			line-height: 0;
		}
		.steps h3, .steps p {
			text-align: center;
		}
		.steps .muted {
			font-size: 12px;
			margin-top: 1em;
		}
	.interactive-target {
		width: 120px;
		height: 120px;
		margin: 0 auto;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border: 2px dashed rgb(100, 100, 100);
		background-repeat: no-repeat;
		background-position: center;
		-webkit-transition: background-color 0.1s linear;
		-moz-transition: background-color 0.1s linear;
		-ms-transition: background-color 0.1s linear;
		-o-transition: background-color 0.1s linear;
		transition: background-color 0.1s linear;
	}
		.dragover-hover {
			background-color: rgba(200, 200, 200, 0.8);
		}

	#person-wallet {
		background-image: url('../images/animation-sprites.png');
		background-position: -120px 0;
	}
		#person-wallet:hover {
			cursor: pointer;
			background-image: url('../images/animation-sprites.png');
			background-position: -120px -120px;
		}
	#tree {
		background-image: url('../images/animation-sprites.png');
		background-position: 0 0;
	}
		#tree.grown  {
			background-image: url('../images/animation-sprites.png');
			background-position: 0 -120px;
		}
	#charity {
		background-image: url('../images/animation-sprites.png');
			background-position: -240px -120px;
	}
	#benjamins {
		background-image: url('../images/benjamins.png');
		border-radius: 0;
		position: absolute;
		top: 108px;
		left: 22px;
		border: none;
		z-index: 5;
	}
		#benjamins:hover {
			cursor: pointer;
			background-color: rgba(255, 255, 255, 0);
		}
		#benjamins.stationary {
			background-image: none;
		}
		#benjamins.stationary:hover + #person-wallet {
			background-image: url('../images/animation-sprites.png');
			background-position: -120px -120px;
		}

/* Social Share CSS */
#share-buttons{
    float:left;
    margin:5px 27% 0 27%;
  }
  .sharrre{
    margin:55px 0 0 50px;
    float:left;
  }
  
  .sharrre .box{
    float:left;
    width:80px;
    height:75px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
    -webkit-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #54a2bc, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #54a2bc, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #54a2bc, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 2px 0px 0px rgba(255, 255, 255, 1);
    background: #dee7ea; /* Old browsers */
    background: -moz-linear-gradient(top, #dee7ea 0%, #e5eef2 20%, #e5eef2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dee7ea), color-stop(20%,#e5eef2), color-stop(100%,#e5eef2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dee7ea 0%,#e5eef2 20%,#e5eef2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dee7ea 0%,#e5eef2 20%,#e5eef2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dee7ea 0%,#e5eef2 20%,#e5eef2 100%); /* IE10+ */
    background: linear-gradient(top, #dee7ea 0%,#e5eef2 20%,#e5eef2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee7ea', endColorstr='#e5eef2',GradientType=0 ); /* IE6-9 */
  }
  
  #facebook .box{
    -webkit-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #28437a, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #28437a, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #28437a, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 2px 0px 0px rgba(255, 255, 255, 1);
  }
  
  #googleplus .box{
    -webkit-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #404040, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #404040, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #404040, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 2px 0px 0px rgba(255, 255, 255, 1);
  }
  
  .sharrre .box:active, #facebook .box:active, #googleplus .box:active{
    box-shadow:0 0 3px #333333;
    margin-top:4px;
  }
  
  .sharrre .count, .sharrre .share{
    display:inline-block;
    width:78px;
    text-align:center;
    font-weight:bold;
  }
  
  .sharrre .count{
    font-size:20px;
    color:#444444;
    text-shadow: 0px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
    height:40px;
    line-height:40px;
    border:1px solid #b9b9b9;
    border-width:1px 1px 0 1px;
    -moz-border-radius-topleft:7px;
    -moz-border-radius-topright:7px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -webkit-border-radius:7px 7px 0 0;
    border-radius:7px 7px 0 0;
    position:relative;
  }
  
  .sharrre .count:before, .sharrre .count:after {
  	content:'';
  	display:block;
  	position:absolute;
  	left:49%;
  	width:0;
  	height:0;
  }
  
  .sharrre .count:before {
  	border:solid 7px transparent;
  	border-top-color:#b2c6cc;
  	margin-left:-7px;
  	bottom: -14px;
  }
  
  .sharrre .count:after {
  	border:solid 6px transparent;
  	margin-left:-6px;
  	bottom:-12px;
  	border-top-color:#e5eef2;
  }
  
  .sharrre .share{
    height:34px;
    line-height:34px;
    color:#ffffff;
    font-size:13px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
    filter: dropshadow(color=#d1d1d1, offx=0, offy=1);
    border:1px solid #6fa4b5;
    border-width:0 1px 1px 1px;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:7px;
    -moz-border-radius-bottomleft:7px;
    -webkit-border-radius:0 0 7px 7px;
    border-radius:0 0 7px 7px;
    background-color:#7ac5df;
    -webkit-box-shadow:inset 0px 1px 0px 0px rgba(105, 164, 185, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
    -moz-box-shadow:inset 0px 1px 0px 0px rgba(105, 164, 185, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
    box-shadow:inset 0px 1px 0px 0px rgba(105, 164, 185, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15); 
  }
    
  #facebook .share{
    border-color:#35538f;
    background: #637fbb; /* Old browsers */
    background: -moz-linear-gradient(top, #637fbb 0%, #49649e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#637fbb), color-stop(100%,#49649e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #637fbb 0%,#49649e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #637fbb 0%,#49649e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #637fbb 0%,#49649e 100%); /* IE10+ */
    background: linear-gradient(top, #637fbb 0%,#49649e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#637fbb', endColorstr='#49649e',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
    -moz-box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
    box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15); 
  }
  
  #googleplus .share{
    border-color:#303030;
    background: #626263; /* Old browsers */
    background: -moz-linear-gradient(top, #626263 0%, #424244 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#626263), color-stop(100%,#424244)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #626263 0%,#424244 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #626263 0%,#424244 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #626263 0%,#424244 100%); /* IE10+ */
    background: linear-gradient(top, #626263 0%,#424244 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626263', endColorstr='#424244',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
    -moz-box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
    box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15); 
  }

/* Animations */
@-webkit-keyframes attentionAttraction {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}
@-moz-keyframes attentionAttraction {
	0% {
		transform: scale(0.5);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.5);
	}
}
@-o-keyframes attentionAttraction {
	0% {
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
	50% {
		-o-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
}
@keyframes attentionAttraction {
	0% {
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
	50% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
}

@-webkit-keyframes landingLights {
	0%   {opacity: 0.4;}
	66%  {opacity: 0.4;}
	67%  {opacity: 0.8;}
	100% {opacity: 0.8;}
}
@-moz-keyframes landingLights {
	0%   {opacity: 0.4;}
	66%  {opacity: 0.4;}
	67%  {opacity: 0.8;}
	100% {opacity: 0.8;}
}
@-o-keyframes landingLights {
	0%   {opacity: 0.4;}
	66%  {opacity: 0.4;}
	67%  {opacity: 0.8;}
	100% {opacity: 0.8;}
}
@keyframes landingLights {
	0%   {opacity: 0.4;}
	66%  {opacity: 0.4;}
	67%  {opacity: 0.8;}
	100% {opacity: 0.8;}
}

/* Responsiveness */
@media (min-width: 1200px) {
	.dropdown-toggle {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.fixed-column-large {
		width: 1200px;
	}
}
@media (min-width: 992px) {
	.dropdown-toggle {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
@media (min-width: 768px) {
	.dropdown-toggle {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media (max-width: 767px) {
	#signup-nav a, #signin-nav a {
		padding: 7px 0 7px 14px;
	}
	.card {
		width: 100%;
		margin-left: 0;
	}
	.fixed-column {
		width: 100%;
	}
	.animation-container {
		display: none;
		visibility: hidden;
	}
}
